
h1{
	text-align: center;
	color: #612F10;
	font-size: 15;}

h2{
	text-align: center;
	font-size: x-large;
	color: #E06C24;}

p{
	text-align: justify;
	color: #61412D;
	font-size: x-large;}

body {background-color: #E6996A;}